.idea/
.DS_Store
__pycache__
*.orig
*.pyc
*.pyo
*.ipynb
venv

*.egg-info/
build/

*.ipynb*


*.log
ai/backlog.md
ai/log

app.db
search.db
flask
coverage_html_report
htmlcov
.coverage
.cache
.pytest_cache

!.gitignore
!README.md

/coverage.xml
/xunit.xml

/.scannerwork/

tests/TestPass.csv
tests/parsed_log.csv
